<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>

</head>
<body>

<h1>Users:</h1>
  <ul>
    <% for(var i = 0; i < users.length; i++) { %>
    <li>
      <h3><%= users[i].username %><h3>
    </li>
    <% } %>
  </ul>
</body>
</html>
